
button {

  // Reset
  margin: 0;
  padding: 0;
  outline: none;
  border: none;


}


.buttons {

    position: relative;
    
    button {
      
      border-left: 1px solid @button_border_color;
      border-bottom: 1px solid @button_border_color;
      
      // Text
      line-height: @button_height;
      text-align: center;
      font-family: @button_text;
      font-size: @button_font_size;
      color: @button_text_color;
      font-weight: @button_font_weight;
      
      float: left;
      height: @button_height;
      width: @button_width;
      background-color: @button_bg_color_primary;

      &.top-row {

        background-color: @button_bg_color_secondary;

      }

      &.operator.right {

        background-color: @button_bg_color_operators;

      }

      &.colspan-two {

        width: @button_colspan_two_width;

      }

      &.right {

        color: @button_text_color_operators;

      } 

      &:focus {

        background-color: @button_bg_color_primary;
        background: linear-gradient(180deg, rgba(221,221,221,1), rgba(210,210,210,0.72));

      }

    }

    .btm-left-radius {

      border-bottom-left-radius: @calculator_radius;

    }
    
    .btm-right-radius {

      border-bottom-right-radius: @calculator_radius;

    }
    
    .top-row, .row {

      .clear-fix();
   
    }

  } 
  
  //SVG
  #plusminus {

    fill: @button_text_color;

  }

  .nav-buttons {

    position: absolute;
    z-index: 9;


    .control-btns {

      position: absolute;
      width: 50px;
      height:20px;
      top: 5px;
      left: 5px;

      -webkit-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;

      &.flip-mode{

        -webkit-animation: throb .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        -moz-animation: throb .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        animation: throb .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);

      }

      &.flip-out {

          -webkit-animation: throbb .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
          -moz-animation: throbb .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
          animation: throbb .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);

      }

      
      button {

        width: @control_button_height;
        height: @control_button_width;
        border-radius: @control_button_radius;
        padding: 0;
        margin: 0 3px 0 0;
        
        &.close {

          background-color: @control_button_close_bg_color;

        }
        
        &.minimize {

          background-color: @control_button_minimize_bg_color;

        }
        
        &.flip {

          background-color: @control_button_flip_bg_color;

        }

        transition: ease .31s;

        &:hover {
            
            transform: scale(1.2);


        }
      }
    }
  }