body {   
 
 background-image: url(@background_url);

}


#wrapper {
  
  .dimensions();
  position: relative;
  margin: 20% auto;
  
}


#calculator {
  
  .dimensions();
  background: rgba(0, 0, 0, .6);
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.35);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);

  
}